---
title: ALPHA BANK - Virtual Card
---
extends shared/_layout
block content
  
  // hero block
  .hero
    .container
      .hero__wrapper
        .hero__left
          .hero__image
            .hero__phone.wow(data-animation-delay="1.5s" data-animation-class="wowFadeDown")
              img(src='img/hero-phone.png' srcset='img/hero-phone@2x.png 2x')
              .hero__card.wow(data-animation-delay="2.5s" data-animation-class="wowCardGrow" data-animation-name="wowGrow" data-animation-duration="1.6s")
                img(src='img/hero-card.png' srcset='img/hero-card@2x.png 2x')
                  
        .hero__right
          .hero__content
            a(href="https://alfabank.ru/sme" target="_blank" js-paste-link-logo).hero__logo.wow(data-animation-class="wowFadeDown")
              +icon('ico-logo')
            h1.hero__heading.wow(data-animation-delay=".2s" data-animation-class="wowFadeDown") Виртуальная карта VISA<span class="br-mobile"></span><br>за 60 секунд для оплаты <span class="br-mobile"></span><br>бизнес-расходов
            .hero__description.wow(data-animation-delay=".35s" data-animation-class="wowFadeDown") Полноценная карта, только без пластика <span class="br-mobile"></span><br> в приложении «Альфа-Бизнес Мобайл»
            .hero__cta.wow(data-animation-delay=".5s" data-animation-class="wowFadeDown")
              a(href="#" js-scrollTo data-scroll-to="issue-card").button.button_size_l
                span Выпустить карту
        
        .hero__scroll(js-scrollTo data-scroll-to="second-block")
          .hero__scroll-wrap
            +icon('ico-scroll-arrow')
  
  // info
  .info(data-target="second-block")
    .container.container--narrow
      h2.heading.heading_size_l Виртуальная карта для оплаты <span class="br-mobile"></span>бизнес-расходов
    .container
      .plato
        .plato__wrap
          .info__list
            // list element
            .info__list-el
              .info__list-icon
                +icon('ico-clock')
              .info__list-content
                .heading.heading_size_m Выпуск карты за 60 секунд
                p Без заполнения документов, <span class="br-mobile"></span>звонков в колл-центр и выезда <span class="br-mobile"></span>курьера.

            // list element
            .info__list-el
              .info__list-icon
                +icon('ico-fingerprint')
              .info__list-content
                .heading.heading_size_m Покупки в одно касание
                p Оплачивайте покупки <span class="br-mobile"></span>в интернете <br>и торговых точках.
            
            // list element
            .info__list-el
              .info__list-icon
                +icon('ico-drop')
              .info__list-content
                .heading.heading_size_m Бесплатный выпуск <span class="br-mobile"></span>и обслуживание
                p Открытие и обслуживание <span class="br-mobile"></span>неограниченного количества <span class="br-mobile"></span>карт — 0₽.
          
          // card
          .info__card
            .info__card-fly.wow(data-animation-delay=".25s" data-fully-entered="true")
              img(src='img/card-fly.png' srcset='img/card-fly@2x.png 2x')
    
    // next container
    .container.container--narrow
      h2.heading.heading_size_l Пользуйтесь виртуальной <span class="br-mobile"></span>картой для бизнеса <span class="br-mobile"></span><br>как привычным пластиком
      .info-for-heading Привяжите карту к платежной системе <span class="br-mobile"></span>смартфона и сразу же совершайте <span class="br-mobile"></span><br>покупки и работайте с наличными <span class="br-mobile"></span>средствами.

      .info-for
        .info-for__left
          .info-for__text-el
            .info-for__text-icon
              +icon('ico-contactless')
            .info-for__text-content Бесконтактная <br><span class="br-mobile"></span>оплата <br><span class="br-mobile"></span>в магазинах
          .info-for__text-el
            .info-for__text-icon
              +icon('ico-cart')
            .info-for__text-content Оплата услуг<br><span class="br-mobile"></span>и покупки <br><span class="br-mobile"></span>в интернете
          .info-for__text-el
            .info-for__text-icon
              +icon('ico-atm')
            .info-for__text-content Внесение/снятие<br><span class="br-mobile"></span>наличных<br><span class="br-mobile"></span>в банкоматах

        .info-for__right
          .info-for__icon-el
            i.icon.icon-apple-pay
          .info-for__icon-el
            i.icon.icon-google-pay
          .info-for__icon-el
            i.icon.icon-samsung-pay

  // STEPS
  .steps(data-target="issue-card")
    .container.container--narrow
      .steps__wrapper
        .steps__left
          h2.heading.heading_size_l Откройте виртуальную карту <span class="br-mobile"></span><br>в четыре шага в мобильном <span class="br-mobile"></span>банке
          // step nav
          .step-nav
            .step-nav__el
              .step-nav__icon
                .icon.icon-circle
                  span 1
              .step-nav__content
                span.step-nav__name Установите приложение <span class="br-mobile"></span><br>«Альфа-Бизнес Мобайл».
                .step-nav__download
                  a(href="https://app.appsflyer.com/id555970430" target="_blank" js-paste-link-appstore)
                    i.icon.icon-appstore-logo
                  a(href="https://app.appsflyer.com/ru.alfabank.oavdo.amc" target="_blank" js-paste-link-google)
                    i.icon.icon-google-play-logo
                      
            //el
            .step-nav__el(js-toggle-video data-video="1")
              .step-nav__icon
                .icon.icon-circle
                  span 2
              .step-nav__content
                span.step-nav__name Оставьте заявку на открытие счёта <span class="br-mobile"></span><br>в приложении. 
            //el
            .step-nav__el(js-toggle-video data-video="2")
              .step-nav__icon
                .icon.icon-circle
                  span 3
              .step-nav__content
                span.step-nav__name После открытия счёта <span class="br-mobile"></span>зайдите <br>в мобильный банк<span class="br-mobile"></span> и выпустите карту.
            //el
            .step-nav__el(js-toggle-video data-video="3")
              .step-nav__icon
                .icon.icon-circle
                  span 4
              .step-nav__content
                span.step-nav__name Привяжите карту к платежной <span class="br-mobile"></span>системе. <br>Карта готова <span class="br-mobile"></span>для использования.
 
        .steps__right
          .steps__video
            img.steps__video-phone(src='img/iphone-x.png' srcset='img/iphone-x@2x.png 2x')
            .steps__video-frame(js-video-logic)
              video(data-video-id="1" muted)
                source(data-src='video/video-1_start.mp4' type="video/mp4")
                source(data-src='video/video-1_start.webm' type="video/webm")
              video(data-video-id="2" muted)
                source(data-src='video/video-2_release.mp4' type="video/mp4")
                source(data-src='video/video-2_release.webm' type="video/webm")
              video(data-video-id="3" muted)
                source(data-src='video/video-3_put.mp4' type="video/mp4")
                source(data-src='video/video-3_put.webm' type="video/webm")
  
  // CONDITIONS
  .condition
    .container
      .plato
        .plato__wrap.plato__wrap--gray
          h2.heading.heading_size_l Условия обслуживания <span class="br-mobile"></span>виртуальной карты <span class="br-mobile"></span><br>для бизнеса
          .condition__row
            .condition__el
              .condition__el-name 100 000₽
              .condition__el-description Месячный лимит на снятие <br>наличных в банкоматах <span class="br-mobile"></span><br>Альфа-Банка.
            .condition__el
              .condition__el-name 0,2%
              .condition__el-description Комиссия за внесение наличных<br>на виртуальную <span class="br-mobile"></span>карту <br>в банкоматах Альфа-Банка.
            .condition__el
              .condition__el-name 0₽
              .condition__el-description Покупки в интернете <br>и в магазинах,<span class="br-mobile"></span> без комиссий <br>и ограничений по сумме.
                        
          a(href="#cashModal" js-popup).condition__more 
            span Снятие наличных <span class="br-mobile"></span>в банкоматах Альфа-Банка
          
          #cashModal.mfp-hide.modal
            .modal__heading Комиссия за снятие наличных<span class="br-mobile"></span> в банкоматах, <br>суммарный объём
            table.modal__table
              thead
                tr
                  td Сумма (включительно)
                  td Комиссия
              tbody
                tr
                  td До 1 500 000₽
                  td 2,5%
                tr
                  td От 1 500 000₽ до 2 000 000₽
                  td 3%
                tr
                  td От 2 000 000₽ до 3 000 000₽
                  td 4%
                tr
                  td От 3 000 000₽ до 5 000 000₽
                  td 8%
                tr
                  td Свыше 5 000 000₽
                  td 10%
            .modal__note Под суммарным объемом выдачи наличных денежных <span class="br-mobile"></span>средств за отчетный период понимается объем денежных <span class="br-mobile"></span>средств в валюте РФ, выданных накопительным итогом <span class="br-mobile"></span>по чеку и / или по банковской карте.
  
  // BENEFITS
  .benefits
    .container
      .container-offset
        span(js-teleport data-teleport-to="benefits-mobile-heading" data-teleport-condition="<768")
          h2.heading.heading_size_l Мобильный банк <span class="br-mobile"></span>«Альфа-Бизнес Мобайл» — <span class="br-mobile"></span>управляйте <br>бизнесом <span class="br-mobile"></span>в любое время дня и ночи
        
        .benefits__wrapper
          .benefits__left
            .benefits__image
              img(src='img/benefits-phones.png' srcset='img/benefits-phones@2x.png 2x')
          
          .benefits__right
            span(data-teleport-target="benefits-mobile-heading")
            .benefits__list
              .benefits__list-el
                .benefits__list-name Держите бизнес <span class="br-mobile"></span>под контролем
                .benefits__list-desc Актуальные остатки по счёту, история <span class="br-mobile"></span>операций, контроль <br>оборотных средств, <span class="br-mobile"></span>финансовая аналитика в удобном <span class="br-mobile"></span><br>формате — всегда под рукой.
              .benefits__list-el
                .benefits__list-name Расплачивайтесь <span class="br-mobile"></span>с партнёрами в 3 клика
                .benefits__list-desc Платежи юридическим и физическим <span class="br-mobile"></span>лицам, платежи <br>государству, повтор <span class="br-mobile"></span>платежей и платежи по шаблонам. <span class="br-mobile"></span><br>А также оплата счетов по файлу <span class="br-mobile"></span>или фото.
              .benefits__list-el
                .benefits__list-name Ускоряйте бизнес
                .benefits__list-desc Выставляйте счета партнёрам <span class="br-mobile"></span>без сложных бухгалтерских <br>программ.<span class="br-mobile"></span> Отправляйте выписку бухгалтеру прямо <span class="br-mobile"></span><br>из приложения. Отправляйте <span class="br-mobile"></span>исполненные платёжки <br>по почте.
              .benefits__list-el
                .benefits__list-name Решайте банковские <span class="br-mobile"></span>вопросы в чате
                .benefits__list-desc Чат со специалистами банка прямо <span class="br-mobile"></span>в приложении, доступен <br>7 дней в неделю,<span class="br-mobile"></span> 24 часа в сутки. Решение любого вопроса <span class="br-mobile"></span><br>в течение нескольких минут.
                .benefits__download
                  a(href="https://app.appsflyer.com/id555970430" target="_blank" js-paste-link-appstore)
                    i.icon.icon-appstore-logo
                  a(href="https://app.appsflyer.com/ru.alfabank.oavdo.amc" target="_blank" js-paste-link-google)
                    i.icon.icon-google-play-logo
                    
  // SCOPE
  .scope
    .container.container--narrow
      h2.heading.heading_size_l Еще нет счёта в Альфа-Банке? <span class="br-mobile"></span><br> Удобные сервисы для бизнеса
      .scope__wrapper
        .scope__left
          .scope__list
            .scope__list-el
              .scope__list-name Обслуживание — от 490₽<span class="br-mobile"></span> в месяц
              .scope__list-desc Или бесплатно, если нет оборотов, <span class="br-mobile"></span>с тарифом <br>для начинающих <span class="br-mobile"></span>предпринимателей «На старт».
            .scope__list-el
              .scope__list-name Длинный платёжный день
              .scope__list-desc Проведение платежей день в день <span class="br-mobile"></span>круглосуточно <br>и даже в выходные дни
              //- .scope__list-desc Проведение платежа день в день <span class="br-mobile"></span>круглосуточно,<br>и в выходные дни.
            .scope__list-el
              .scope__list-name Бесплатная бухгалтерия
              .scope__list-desc Автоматическая оплата налогов <span class="br-mobile"></span>для индивидуальных <br>предпринимателей <span class="br-mobile"></span>на УСН 6%.

        .scope__right
          .scope__list
            .scope__list-el
              .scope__list-name Персональный менеджер
              .scope__list-desc Всегда на связи, чтобы ответить на любые <span class="br-mobile"></span>вопросы<br>удобным для вас способом.
            .scope__list-el
              .scope__list-name Помощь в поиске клиентов
              .scope__list-desc Получите до 62 000 рублей <span class="br-mobile"></span>на продвижение своего<br>дела в интернете.
            .scope__list-el
              .scope__list-name Удобный интернет-банк
              .scope__list-desc Работает на любом компьютере.
      
      .scope__cta
        a(href="https://alfabank.ru/sme/agent/virtual_card_rko" target="_blank" js-paste-link-open).button.button_size_l
          span Открыть счёт в Альфа-Банке
  
  // FOOTER
  footer.footer
    .container.container--narrow
      .footer__wrapper
        .footer__left
          a(href="tel:+74957555858").footer__phone +7 (495) 755-58-58
          span Получение информации и проведение операций 24/7
        .footer__right
          .footer__socials
            a(href="https://www.facebook.com/alfabank.sme" target="_blank")
              i.icon.icon-social-facebook
            a(href="https://vk.com/alfabank_sme" target="_blank")
              i.icon.icon-social-vk
                        
          span ©2018 Альфа-Банк. Ген<i class="text-mobile">.</i><i class="text-desktop">еральная</i> лицензия ЦБ РФ №1326
