---
title: ALPHA BANK - Virtual Card
---
extends shared/_layout
block content
  
  // hero block
  .hero
    .container
      .hero__wrapper
        .hero__left
          .hero__image
            .hero__phone
              img.wow(data-animation-delay=".2s" src='img/hero-phone.png' srcset='img/hero-phone@2x.png 2x')
              .hero__card.wow(data-animation-delay="1s")
                img(src='img/hero-card.png' srcset='img/hero-card@2x.png 2x')
                  
        .hero__right
          .hero__content
            .hero__logo.wow
              +icon('ico-logo')
            h1.hero__heading.wow(data-animation-delay=".2s") Виртуальная карта <br>за 60 секунд для оплаты <br>бизнес-расходов
            .hero__description.wow(data-animation-delay=".4s") Полноценная карта, только без пластика <br> в приложении «Альфа-Бизнес Мобайл»
            .hero__cta.wow(data-animation-delay=".6s")
              a(href="#").button.button_size_l
                span Выпустить карту
  
  // info
  .info
    .container.container--narrow
      h2.heading.heading_size_l Виртуальная карта для оплаты бизнес-расходов
    .container
      .plato
        .plato__wrap
          .info__list
            // list element
            .info__list-el
              .info__list-icon
                +icon('ico-clock')
              .info__list-content
                .heading.heading_size_m Выпуск карты за 60 секунд
                p Без заполнения документов, звонков в колл-центр и выезда курьера.

            // list element
            .info__list-el
              .info__list-icon
                +icon('ico-fingerprint')
              .info__list-content
                .heading.heading_size_m Покупки в одно касание
                p Оплачивайте покупки в интернете <br>и торговых точках.
            
            // list element
            .info__list-el
              .info__list-icon
                +icon('ico-drop')
              .info__list-content
                .heading.heading_size_m Бесплатный выпуск и обслуживание
                p Открытие и обслуживание неограниченного количества карт — 0₽.
          
          // card
          .info__card
            .info__card-fly
              img(src='img/card-fly.png' srcset='img/card-fly@2x.png 2x')
    
    // next container
    .container.container--narrow
      h2.heading.heading_size_l Пользуйтесь виртуальной картой для бизнеса как привычным пластиком
      .info__benefits-heading Привяжите карту к платежной системе смартфона и сразу же совершайте <br>покупки и работайте с наличными средствами.

      .info__benefits
        +icon('ico-cart')
        +icon('ico-atm')
        +icon('ico-contactless')
        
  
  // STEPS
  .steps
    .container.container--narrow
      .steps__wrapper
        .steps__left
          h2.heading.heading_size_l Откройте виртуальную карту <br>в четыре шага в мобильном банке
          // step nav
          .step-nav
            .step-nav__el
              .step-nav__icon
                .icon.icon-circle
                  span 1
              .step-nav__content
                span.step-nav__name Установите приложение <br>«Альфа-Бизнес Мобайл».
                .step-nav__download
                  a(href="#" target="_blank")
                    i.icon.icon-appstore-logo
                  a(href="#" target="_blank")
                    i.icon.icon-google-play-logo
                      
            //el
            .step-nav__el(js-toggle-video data-video="1")
              .step-nav__icon
                .icon.icon-circle
                  span 2
              .step-nav__content
                span.step-nav__name Оставьте заявку на открытие счёта <br>в приложении. 
            //el
            .step-nav__el(js-toggle-video data-video="2")
              .step-nav__icon
                .icon.icon-circle
                  span 3
              .step-nav__content
                span.step-nav__name После открытия счёта зайдите <br>в мобильный банк и выпустите карту.
            //el
            .step-nav__el(js-toggle-video data-video="3")
              .step-nav__icon
                .icon.icon-circle
                  span 4
              .step-nav__content
                span.step-nav__name Привяжите карту к платежной системе. <br>Карта готова для использования.
 
        .steps__right
          .steps__video
            img.steps__video-phone(src='img/iphone-x.png' srcset='img/iphone-x@2x.png 2x')
            .steps__video-frame(js-video-logic)
              video(data-video-id="1" muted)
                source(src='video/video-1_start.mp4')
              video(data-video-id="2" muted)
                source(src='video/video-2_release.mp4')
              video(data-video-id="3" muted)
                source(src='video/video-3_put.mp4')
  
  .condition
    .container
      .plato
        .plato__wrap.plato__wrap--gray
          h2.heading.heading_size_l Условия обслуживания виртуальной карты <br>для бизнеса
          .condition__row
            .condition__el
              .condition__el-name 100 000₽
              .condition__el-description Месячный лимит на снятие <br>наличных в банкоматах <br>Альфа-Банка.
            .condition__el
              .condition__el-name 0,2%
              .condition__el-description Комиссия за внесение наличных<br>на виртуальную карту <br>в банкоматах Альфа-Банка.
            .condition__el
              .condition__el-name 0₽
              .condition__el-description Покупки в интернете <br>и в магазинах, без комиссий <br>и ограничений по сумме.
                        
          a(href="#cashModal" js-popup).condition__more 
            span Снятие наличных в банкоматах Альфа-Банка
          
          #cashModal.mfp-hide.modal
            .modal__heading Комиссия за снятие наличных в банкоматах, <br>суммарный объём
            table.modal__table
              thead
                tr
                  td Сумма (включительно)
                  td Комиссия
              tbody
                tr
                  td До 1 500 000₽
                  td 2,5%
                tr
                  td От 1 500 000₽ до 2 000 000₽
                  td 3%
                tr
                  td От 2 000 000₽ до 3 000 000₽
                  td 4%
                tr
                  td От 3 000 000₽ до 5 000 000₽
                  td 8%
                tr
                  td Свыше 5 000 000₽
                  td 10%
            .modal__note Под суммарным объемом выдачи наличных денежных средств за отчетный период понимается объем денежных средств в валюте РФ, выданных накопительным итогом по чеку и / или по банковской карте.
