---
title: ALPHA BANK - Virtual Card
---
extends shared/_layout
block content
  
  // hero block
  .hero
    .container
      .hero__wrapper
        .hero__left
          .hero__image
            .hero__phone.wow(data-animation-delay="1.5s" data-animation-class="wowFadeDown")
              img(src='img/hero-phone.png' srcset='img/hero-phone@2x.png 2x')
              .hero__card.wow(data-animation-delay="2.5s" data-animation-class="wowCardGrow" data-animation-name="wowGrow")
                img(src='img/hero-card.png' srcset='img/hero-card@2x.png 2x')
                  
        .hero__right
          .hero__content
            .hero__logo.wow(data-animation-class="wowFadeDown")
              +icon('ico-logo')
            h1.hero__heading.wow(data-animation-delay=".2s" data-animation-class="wowFadeDown") Виртуальная карта <span class="br-mobile"><br>за 60 секунд для оплаты <span class="br-mobile"><br>бизнес-расходов
            .hero__description.wow(data-animation-delay=".35s" data-animation-class="wowFadeDown") Полноценная карта, только без пластика <span class="br-mobile"><br> в приложении «Альфа-Бизнес Мобайл»
            .hero__cta.wow(data-animation-delay=".5s" data-animation-class="wowFadeDown")
              a(href="#" js-scrollTo data-scroll-to="issue-card").button.button_size_l
                span Выпустить карту
  
  // info
  .info
    .container.container--narrow
      h2.heading.heading_size_l Виртуальная карта для <span class="br-mobile">оплаты бизнес-расходов
    .container
      .plato
        .plato__wrap
          .info__list
            // list element
            .info__list-el
              .info__list-icon
                +icon('ico-clock')
              .info__list-content
                .heading.heading_size_m Выпуск карты за 60 секунд
                p Без заполнения документов, звонков в колл-центр и выезда курьера.

            // list element
            .info__list-el
              .info__list-icon
                +icon('ico-fingerprint')
              .info__list-content
                .heading.heading_size_m Покупки в одно касание
                p Оплачивайте покупки в интернете <br>и торговых точках.
            
            // list element
            .info__list-el
              .info__list-icon
                +icon('ico-drop')
              .info__list-content
                .heading.heading_size_m Бесплатный выпуск <span class="br-mobile">и обслуживание
                p Открытие и обслуживание неограниченного количества карт — 0₽.
          
          // card
          .info__card
            .info__card-fly.wow(data-animation-delay=".25s" data-fully-entered="true")
              img(src='img/card-fly.png' srcset='img/card-fly@2x.png 2x')
    
    // next container
    .container.container--narrow
      h2.heading.heading_size_l Пользуйтесь виртуальной <span class="br-mobile">картой для бизнеса <span class="br-mobile">как привычным пластиком
      .info-for-heading Привяжите карту к платежной системе смартфона и сразу же совершайте <br>покупки и работайте с наличными средствами.

      .info-for
        .info-for__left
          .info-for__text-el
            .info-for__text-icon
              +icon('ico-contactless')
            .info-for__text-content Бесконтактная <br><span class="br-mobile">оплата <br><span class="br-mobile">в магазинах
          .info-for__text-el
            .info-for__text-icon
              +icon('ico-cart')
            .info-for__text-content Оплата услуг<br<span class="br-mobile">и покупки <br><span class="br-mobile">в Интернете
          .info-for__text-el
            .info-for__text-icon
              +icon('ico-atm')
            .info-for__text-content Внесение/снятие<br><span class="br-mobile">наличных<br><span class="br-mobile">в банкоматах

        .info-for__right
          .info-for__icon-el
            i.icon.icon-apple-pay
          .info-for__icon-el
            i.icon.icon-google-pay
          .info-for__icon-el
            i.icon.icon-samsung-pay

  // STEPS
  .steps(data-target="issue-card")
    .container.container--narrow
      .steps__wrapper
        .steps__left
          h2.heading.heading_size_l Откройте виртуальную карту <span class="br-mobile"><br>в четыре шага в мобильном банке
          // step nav
          .step-nav
            .step-nav__el
              .step-nav__icon
                .icon.icon-circle
                  span 1
              .step-nav__content
                span.step-nav__name Установите приложение <br>«Альфа-Бизнес Мобайл».
                .step-nav__download
                  a(href="https://itunes.apple.com/ru/app/id555970430?mt=8" target="_blank")
                    i.icon.icon-appstore-logo
                  a(href="https://play.google.com/store/apps/details?id=ru.alfabank.oavdo.amc" target="_blank")
                    i.icon.icon-google-play-logo
                      
            //el
            .step-nav__el(js-toggle-video data-video="1")
              .step-nav__icon
                .icon.icon-circle
                  span 2
              .step-nav__content
                span.step-nav__name Оставьте заявку на открытие счёта <br>в приложении. 
            //el
            .step-nav__el(js-toggle-video data-video="2")
              .step-nav__icon
                .icon.icon-circle
                  span 3
              .step-nav__content
                span.step-nav__name После открытия счёта зайдите <br>в мобильный банк и выпустите карту.
            //el
            .step-nav__el(js-toggle-video data-video="3")
              .step-nav__icon
                .icon.icon-circle
                  span 4
              .step-nav__content
                span.step-nav__name Привяжите карту к платежной системе. <br>Карта готова для использования.
 
        .steps__right
          .steps__video
            img.steps__video-phone(src='img/iphone-x.png' srcset='img/iphone-x@2x.png 2x')
            .steps__video-frame(js-video-logic)
              video(data-video-id="1" muted)
                source(src='video/video-1_start.mp4')
              video(data-video-id="2" muted)
                source(src='video/video-2_release.mp4')
              video(data-video-id="3" muted)
                source(src='video/video-3_put.mp4')
  
  // CONDITIONS
  .condition
    .container
      .plato
        .plato__wrap.plato__wrap--gray
          h2.heading.heading_size_l Условия обслуживания виртуальной карты <br>для бизнеса
          .condition__row
            .condition__el
              .condition__el-name 100 000₽
              .condition__el-description Месячный лимит на снятие <br>наличных в банкоматах <br>Альфа-Банка.
            .condition__el
              .condition__el-name 0,2%
              .condition__el-description Комиссия за внесение наличных<br>на виртуальную карту <br>в банкоматах Альфа-Банка.
            .condition__el
              .condition__el-name 0₽
              .condition__el-description Покупки в интернете <br>и в магазинах, без комиссий <br>и ограничений по сумме.
                        
          a(href="#cashModal" js-popup).condition__more 
            span Снятие наличных в банкоматах Альфа-Банка
          
          #cashModal.mfp-hide.modal
            .modal__heading Комиссия за снятие наличных в банкоматах, <br>суммарный объём
            table.modal__table
              thead
                tr
                  td Сумма (включительно)
                  td Комиссия
              tbody
                tr
                  td До 1 500 000₽
                  td 2,5%
                tr
                  td От 1 500 000₽ до 2 000 000₽
                  td 3%
                tr
                  td От 2 000 000₽ до 3 000 000₽
                  td 4%
                tr
                  td От 3 000 000₽ до 5 000 000₽
                  td 8%
                tr
                  td Свыше 5 000 000₽
                  td 10%
            .modal__note Под суммарным объемом выдачи наличных денежных средств за отчетный период понимается объем денежных средств в валюте РФ, выданных накопительным итогом по чеку и / или по банковской карте.
  
  // BENEFITS
  .benefits
    .container
      .container-offset
        span(js-teleport data-teleport-to="benefits-mobile-heading" data-teleport-condition="<768")
          h2.heading.heading_size_l Мобильный банк <span class="br-mobile">«Альфа-Бизнес Мобайл» — <span class="br-mobile">управляйте <br>бизнесом <span class="br-mobile">в любое время дня и ночи
        
        .benefits__wrapper
          .benefits__left
            .benefits__image
              img(src='img/benefits-phones.png' srcset='img/benefits-phones@2x.png 2x')
          
          .benefits__right
            span(data-teleport-target="benefits-mobile-heading")
            .benefits__list
              .benefits__list-el
                .benefits__list-name Управляйте бизнесом <span class="br-mobile">в любое время
                .benefits__list-desc Актуальные остатки по счёту, история операций, контроль <br>оборотных средств, финансовая аналитика в удобном <br>формате — всегда под рукой.
              .benefits__list-el
                .benefits__list-name Расплачивайтесь <span class="br-mobile">с партнерами в 3 клика
                .benefits__list-desc Платежи юридическим и физическим лицам, платежи <br>государству, повтор платежей и платежи по шаблонам. <br>А также оплата счетов по файлу или фото.
              .benefits__list-el
                .benefits__list-name Ускоряйте бизнес
                .benefits__list-desc Выставляйте счета партнерам без сложных бухгалтерских <br>программ. Отправляйте выписку бухгалтеру прямо <br>из приложения. Отправляйте исполненные платежки <br>по почте.
              .benefits__list-el
                .benefits__list-name Решайте банковские <span class="br-mobile">вопросы в чате
                .benefits__list-desc Чат со специалистами Банка прямо в приложении, доступен <br>7 дней в неделю, 24 часа в сутки. Решение любого вопроса <br>в течение нескольких минут.
                .benefits__download
                  a(href="https://itunes.apple.com/ru/app/id555970430?mt=8" target="_blank")
                    i.icon.icon-appstore-logo
                  a(href="https://play.google.com/store/apps/details?id=ru.alfabank.oavdo.amc" target="_blank")
                    i.icon.icon-google-play-logo
                    
  // SCOPE
  .scope
    .container.container--narrow
      h2.heading.heading_size_l Еще нет счёта в Альфа-Банке? <br> Удобные сервисы для бизнеса
      .scope__wrapper
        .scope__left
          .scope__list
            .scope__list-el
              .scope__list-name Обслуживание — от 490₽ в месяц
              .scope__list-desc Или бесплатно, если нет оборотов, с тарифом <br>для начинающих предпринимателе «На старт».
            .scope__list-el
              .scope__list-name Длинный платёжный день
              .scope__list-desc Проведение платежи день в день круглосуточно,<br>и в выходные дни.
            .scope__list-el
              .scope__list-name Бесплатная бухгалтерия
              .scope__list-desc Автоматическая оплата налогов для индивидуальных <br>предпринимателей на УСН 6%.

        .scope__right
          .scope__list
            .scope__list-el
              .scope__list-name Персональный менеджер
              .scope__list-desc Всегда на связи, чтобы ответить на любые вопросы<br>удобным для вас способом.
            .scope__list-el
              .scope__list-name Помощь в поиске клиентов
              .scope__list-desc Получите до 62 000 рублей на продвижение своего<br>дела в интернете.
            .scope__list-el
              .scope__list-name Удобный интернет-банк
              .scope__list-desc Работает на любом компьютере.
      
      .scope__cta
        a(href="https://alfabank.ru/sme/" target="_blank").button.button_size_l
          span Открыть счёт в Альфа-Банке
  
  // FOOTER
  footer.footer
    .container.container--narrow
      .footer__wrapper
        .footer__left
          a(href="tel:+74957555858").footer__phone +7 (495) 755-58-58
          span Получение информации и проведение операций 24/7
        .footer__right
          .footer__socials
            a(href="https://www.facebook.com/alfabank.sme" target="_blank")
              i.icon.icon-social-facebook
            a(href="https://vk.com/alfabank_sme" target="_blank")
              i.icon.icon-social-vk
                        
          span ©2018 Альфа-Банк. Генеральная лицензия ЦБ РФ №1326
