.ico-atm {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-cart {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-clock {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-contactless {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-drop {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.ico-fingerprint {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 3.38em;
  height: 1em;
  fill: initial;
}
.ico-scroll-arrow {
  width: 1.93em;
  height: 1em;
  fill: initial;
}
